@{
    ViewData["Title"] = "Deletar item do cardápio";
}

<div class="text-center">
    <h3>Deseja apagar o item {item.nome} do cardápio?</h3>
</div>

<a class="btn btn-primary w-100" role="button">Cancelar</a>
<a class ="btn btn-danger w-100" role="button">Apagar</a>